@import "dimen.css";
@import "fonts.css";
@import "color.css";

html{
    background: #1D2124;
}

body {
    
    color: #ffffff;
    font-family: "EudoxusSans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
      "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    background: #1D2124;
    -moz-osx-font-smoothing: grayscale;
  }
  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  .header-image{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 500px;
    overflow: hidden;
    filter: blur(18px);
    -webkit-filter: blur(18px);
  }

  .header-image .overlay{
    opacity: 0.7;
    background: #1D2124;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 8;
  }

  .header-image .gradient{
    background-image: linear-gradient(180deg, rgba(29,33,36,0.00) 0%, #1D2124 100%);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    z-index: 9;
  }

  .header-image img{
    width: 100%;
    margin-top: -320px;
    max-width: 4000px;

  }

  .header {
    width: var(--jt-content-width);
    max-width: var(--jt-content-max-width);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin: auto;
    padding-top: 120px;
    z-index: 10;
    position: relative;
  }

  .header-mobile{
    display: none;
  }

  .me{
    box-shadow: 0 2px 20px 6px rgba(0,0,0,0.26);
    border-radius: 20px;    
    width: 250px;
    height: 250px;
    overflow: hidden;
  }

  .me img{
    width: 100%;
    margin-top: -50px;
  }

  .links{
    margin: 90px auto;
    margin-top: 110px;
    padding: 0px 4px;
    width: var(--jt-content-width);
    max-width: var(--jt-content-max-width);
    gap: 30px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: relative;
    align-items: flex-start;
  }

  .link{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    text-decoration: none;
  }

  .link-header{
    font-size: 18px;
    font-weight: bold;
  }

  .link-visit{
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    opacity: 0.6;
  }

  .link-visit img{
    filter: invert(100%);
    width: 11px;
    margin-left: 4px;
  }

  .h1-tag {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    
    display: inline-block;
    padding: 4px 12px 7px;
    position: relative;
    transform: rotate(-1.5deg);
  }

  .tag-bg{
    transform: skew(-10deg);
    background: #1D2124;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    
  }

  .h1-tagline {
    display: inherit;
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
  }

  .h1-hello{
    font-size: 20px;
    margin: 0px;
    font-weight: bold;
    margin-top: 20px;
  }

  .h1-hello span{
    opacity: 0.55;
  }

  .h1-hello a{
    color: #ffffff;
    opacity: 1;
  }


  .footer{
    display: flex;
    justify-content: space-between;
    padding: 0px 4px;
    width: var(--jt-content-width);
    max-width: var(--jt-content-max-width);
    margin: auto;
    align-items: flex-end;
    z-index: 10;
    position: relative;
  }

  .footer .piece{
    display: flex;
    flex-direction: column;
    line-height: 1.6;
  }

  .footer .piece:last-of-type{
    text-align: right;
  }

  .footer .piece .copyright{
    opacity: 0.6;
    font-size: 12px;
  }

  .footer .word{
    font-size: 14px;
    font-weight: bold;
    display: initial;
  }

  .footer .word-mobile{
    font-size: 14px;
    font-weight: bold;
    display: none;
  }