
:root {
    --jt-content-width: 80%;
    --jt-app-preview-width: 95%;
    --jt-app-preview-max-width: 1540px;
    --jt-feature-content-width: 78%;
    --jt-feature-content-max-width: 1360px;
    --jt-content-max-width: 1280px;
    --jt-auth-width: 90%;
    --jt-auth-max-width: 300px;
    --jt-public-content-width: 43%;
    --jt-public-content-max-width: 700px;
    
}


@media (max-width: 768px) {
    :root{
        --jt-content-width: 88%;
        --jt-content-max-width: 1320px;
        --jt-app-preview-width: 92%;
        --jt-app-preview-max-width: 1540px;
    }
}

.hm-space-10{
    width: 10px;
    display: inline-block;
}

.hm-space-20{
    width: 20px;
    display: inline-block;
}

.hm-space-30{
    width: 30px;
    display: inline-block; 
}

