
:root {
    --jt-content-width: 90%;
    --jt-content-max-width: 1080px;
}


@media (max-width: 768px) {
    :root{
        --jt-content-width: 92%;
        --jt-content-max-width: 1320px;
        --jt-app-preview-width: 92%;
        --jt-app-preview-max-width: 1540px;
    }
}

.hm-space-10{
    width: 10px;
    display: inline-block;
}

.hm-space-20{
    width: 20px;
    display: inline-block;
}

.hm-space-30{
    width: 30px;
    display: inline-block; 
}

