@media (max-width: 768px) {

  .header-image img{
    width: 200%;
    margin-top: 0px;
    max-width: 4000px;

  }

  .header-image{
    height: 600px;
  }

  .footer{
    gap: 10px;
  }

  .footer .piece img{
    width: 150px
  }

  .links{
    margin: 70px auto;
    margin-top: 90px;
    padding: 0px 2px;
  }

  .footer .word-mobile{
    display: initial;
  }

  .footer .word{
    font-size: 14px;
    font-weight: bold;
    display: none;
  }
}
  