@media (max-width: 768px) {

    .images-container{
        flex-direction: column;
        gap: 10px;
    }

    .images-container .col{
        gap: 10px;
    }

    .header-floater a.hpricing,
    .header-floater a.hfeatures {
      display: none;
    }

    .hero-area{
        padding: 0px;
    }

    .hero-area-top{
        margin-top: 150px;
    }

    .hero-area-top .h1-tagline{
        margin-top: 6px;
    }


    .img-desktop{
        display: none;
      }

      .false_bg{
        display: none;
      }
    
      .img-mobile{
       display: block;
       width: calc(100%);
       margin-top: 80px;
       z-index: 11;
       margin: auto;
       position: relative;
      }

      .section-header{
        padding: 0px;
        margin-bottom: 70px;
      }

      .footer-content{
        flex-direction: column;
      }

    .footer-content .box.right{
        display: none;
      }

      .footer-content .box.left{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        justify-items: center;
      }

      .footer-content .box.middle img{
        margin-right: -5px;
        margin-bottom: -120px;
      }
}
  